<footer class="site-footer h-card">
    <data class="u-url" href="{{ '/' | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        <a href="mailto:{{ site.email }}">
                            <span class="contact-icon"><i class="fa-solid fa-envelope" aria-hidden="true"></i></span>
                            <span>{{ site.email }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Re-bin">
                            <span class="contact-icon"><i class="fa-brands fa-github" aria-hidden="true"></i></span>
                            <span>Re-bin</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/xubinrencs">
                            <span class="contact-icon"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></span>
                            <span>xubinrencs</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/xubin-ren-610740281/">
                            <span class="contact-icon"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></span>
                            <span>xubin-ren</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://scholar.google.com/citations?user=mxtvnNUAAAAJ&amp;hl=en&amp;oi=ao">
                            <span class="contact-icon"><i class="fa-brands fa-google-scholar" aria-hidden="true"></i></span>
                            <span>Google Scholar</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                <p>I build elegant, useful AI systems and write about what I learn.</p>
            </div>
        </div>
    </div>
</footer>
